# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside

# User-specific
xcuserdata/
*.xcworkspace/xcuserdata/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# Node
**/node_modules/

